body{
    background-color: #042940; 
}
main{
    
    background-color: #042940; 
    width: 1280px;

    margin: 0 auto;
}
a{
    text-decoration: none;
    color: ;
}
p{
    color: #D6D58E;
}

ul{
    list-style-type: none;
}
li{
    
}